---
import { ProductList } from '@/components';
import Pagination from '@/components/shared/Pagination.astro';
import MainLayout from '@/layouts/MainLayout.astro';
import { actions } from 'astro:actions';

export const prerender = false;
// este cambio en la sección 14 Actoion: Obtener productos por pagina
//const { data: products, error } = await actions.getProductsByPage({});

const searchParams = Astro.url.searchParams;
const pageParams = Number(searchParams.get('page')) ?? 1;

const { data, error } = await Astro.callAction(actions.getProductsByPage, {
  page: pageParams,
});

if (error) {
  return Astro.redirect('/');
}
const { products, totalPages } = data;

if (data.products.length === 0) {
  return Astro.redirect(`/?page=${totalPages}`);
}
---

<MainLayout>
  <h1 class="text-3xl">Listado de Productos</h1>
  <ProductList products={products} client:load />
  <Pagination totalPages={totalPages} />
</MainLayout>
